*{
    margin: 0;
    padding: 0;
}
nav{
    /* width: 100%;
    height: 120px; */
    background-color: white;
}
nav ul{
    margin-left: 150px;
    padding: 15px;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #393636;
    font-size: 15px;
}
.premier{
    background-image: url(image.jpg);
    background-size: cover;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.en{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 200px;
} 
.premier p{
    background-color: rgb(57, 97, 97);
    color: white;
    width: 350px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-left: 430px;
    padding-top: 30px;
    font-size: 23px; 
}
h4{
    text-align: center;
    margin-top: 10px;
    position: absolute;
    color: white;
    margin-left: 470px; 
}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
}
 .logo img {
    width: 100%;
    height: 100%; 
}
ul{
    margin-left: 200px;
    padding: 55px;
}
li{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #393636;
    font-size: 20px;
}
.gris{
    background-color: rgb(201, 215, 212);
}
h2{
    text-align: center;
    padding-top: 50px;
}
.tout{
    display: flex;
    flex-direction: column;
}
 .progressbar-debut {
    background-color: #828385;
    width: 425px;
    height: 20px;
    position: relative;
    border-radius: 10px;
  }
  .progressbar1 {
    background-color: rgb(129, 170, 173);
    height: 20px;
    width: 425px;
    border-radius: 10px;
  }
  .progressbar2 {
    background-color: rgb(129, 170, 173);
    height: 20px;
    width:350px;
    border-radius: 10px;
  }
  .progressbar3 {
    background-color: rgb(129, 170, 173);
    height: 20px;
    width: 80%;
    border-radius: 10px;
  }
  .progressbar4 {
    background-color: rgb(129, 170, 173);
    height: 20px;
    width: 70%;
    border-radius: 10px;
  }
 .barre {
    margin: 50px;
 }

 .ensemble{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
.en{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
 }
.tele{
    border: 2px solid rgb(100, 224, 208);
    border-radius: 160px;
    margin-left: 120px;
    margin-top: 50px;
    height: 140px;
    width: 150px; 
}

.tele img{
    width: 50px;
    padding-left: 45px;
    padding-top: 50px;
}
.mous{
    padding-left: 30px;
    display: flex;
} 
.dev .ecri p{
    text-align: center;
    padding: 0px 70px 70px 70px;
}
.dev .ecri h2{
    padding: 20px;
}

/* .ensemble{
    height: 500px;
    width: 100%;
    background-color: white;
}
.ensemble h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin-top: 80px;
}
.ensemble p{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: 200; 
    margin-top: 15px;
    letter-spacing: 0cm; 
    line-height: 10px;
}
.mur{
    display: flex;
    width: 424px;
    height: 20px;
    margin-left: 150px;
    margin-top: 10px;
    appearance: none;
}
progress::-webkit-progress-bar{
    background-color: grey;
    border-radius: 20px;
}
::-webkit-progresss-value{
    background-color: #a5c0ad;
    border-radius: 20px;
} */
/* .ligne{
    display: flex;
} */

.espace img{
    width: 288px;
    height: 300px;
    position: relative;
}
.espace img{
    top: 10px;
}
.personne{
    background-color: rgb(184, 222, 222);
}
.personne p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.personne h2{
    margin-top: 50px;
}
.lef{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}
.parent{
    background-color: white;
    width: 288px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ban{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ban img{
    width: 50px;
    height: 50px;
    padding: 50px;
}
.sous{
    padding: 80px;
    font-weight: bold;
}
footer{
    background-color: rgb(221, 228, 225);
}
.fin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.route{
   font-weight: bold;
   line-height: 1.6;
}
footer h3, h2, h6{
    padding:70px;
    text-align: center;
}







@media only screen and (max-width: 600px){
    /* les avatars section personne */
    .lef{
        display: flex;
        flex-direction: column;
    }
    /* texte section ban */
    .sur{
        padding: 30px;
        text-align: center;
    }
    .sous{
        text-align: center;
    }
    /* section couleur */
    .mous{
        display: flex;
        flex-direction: column;
    }
    /* section gris */
    .com{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .logo{
        display: grid;
        grid-template-columns: 90px 90px 90px 90px;
        grid-template-rows: 200px 200px ;
    }
}